
.container {
  height: 100vh;
  width: 100vw;
  background-color: hsl(212, 45%, 89%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 497px;
  width: 320px;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;

  .card-img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
  }

  .card-text-container {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    color: hsl(218, 44%, 22%);
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
  }

  .card-text {
    color: hsl(220, 15%, 55%);
    max-width: 255px;
    text-align: center;
  }

}



* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}